body{
    background-color: green;

    @include element('is-selected') {
        color: blue;

        @include modifier('last') {
            margin: 0;
        }
    }
}

.header{
    color:red;
}
