$backgroundOne: #98FB98
$backgroundTwo: #00FA9A

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.Site
  margin: 0
  background-image: linear-gradient(260deg, $backgroundTwo 0%, $backgroundOne 70%)
  display: flex
  min-height: 100vh
  flex-direction: column

.Site-content
  flex: 1
