$backgroundOne: #BEEE9E
$backgroundTwo: #71D161

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.Site
  margin: 0
  background-image: linear-gradient(260deg, $backgroundTwo 0%, $backgroundOne 50%)
  display: flex
  min-height: 100vh
  flex-direction: column
  position: relative
  z-index: -100

.Site-content
  flex: 1
