html {
  box-sizing: border-box; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

.Site {
  margin: 0;
  background-image: linear-gradient(260deg, #71D161 0%, #BEEE9E 50%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: -100; }

.Site-content {
  flex: 1; }

.nav-container {
  position: relative;
  z-index: 5; }

.flex-nav {
  min-height: 3em;
  position: relative;
  z-index: 1; }

.flex-ul {
  background-image: url("../../img/textures/wood2.png");
  border-bottom: 2px solid #e26b21;
  box-shadow: 0px 4px 12px #323232;
  list-style: none;
  display: flex;
  height: 5.25em; }

.flex-ul__item {
  flex: 1;
  height: 11px; }

.flex-ul__item--contact,
.flex-ul__item--about,
.flex-ul__item--logo,
.flex-ul__item--menu {
  flex: 0.35; }

.flex-ul__item--community {
  flex: 0.25;
  margin-right: 1em; }

.flex-ul__item--hover {
  color: white;
  font-size: 2.5em;
  font-family: "Slabo 27px", serif;
  letter-spacing: 4px;
  padding: 20px 5px 5px 5px;
  text-shadow: black 0.1em 0.1em 0.3em;
  display: inline-block; }

.flex-ul__item--logo {
  align-content: center; }

.flex-ul__item--hover:hover {
  color: white;
  font-size: 3em;
  text-decoration: none;
  text-shadow: black 0.1em 0.1em 0.2em;
  transition: all 0.25s; }

a:active,
a:link,
a:visited {
  color: white;
  text-decoration: none; }

#logo {
  height: 12em;
  width: 12em;
  position: relative;
  z-index: 150; }

.logo__box {
  border-radius: 50%;
  height: 11em;
  width: 12em;
  box-shadow: 0px 32px 20px -10px #323232;
  flex: 2;
  margin-left: -0.8em;
  color: white;
  transition: all 0.75s;
  position: relative;
  z-index: 0; }

.dropdown {
  margin: -15px 0px 0px -17px;
  padding: 0px 0px 0px 0px;
  display: none;
  position: relative;
  z-index: -1;
  width: 10.85em;
  height: 10em; }

.box-shadow {
  height: 8em;
  width: 10.75em;
  margin: -114px 0px 0px 0px;
  box-shadow: 0px 12px 20px #323232; }

.dropdown-list {
  background-image: url("../../img/navicons/sign2.png");
  background-repeat: no-repeat;
  font-size: 1.25em;
  color: white;
  text-shadow: black 0.1em 0.1em 0.15em;
  list-style-type: none;
  width: 8.85em;
  height: 8em;
  text-align: center;
  padding: 30px 0px 0px 0px;
  margin: -10px 0px 0px -2px; }

#community-dropdown {
  margin-left: -10px;
  font-size: 1em; }

#community-dropdown-list {
  padding: 30px 0px 0px 0px; }

#community-dropdown-list a:hover {
  font-size: 1.2em; }

.dropdown-list a:hover {
  font-size: 1.15em; }

.flex-ul__item--hover:hover + .dropdown,
.dropdown:hover {
  display: block; }

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.25em;
  margin-top: -1.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8em;
  min-height: 100vh;
  background-image: linear-gradient(260deg, #BEEE9E 0%, #E6FFBF 100%);
  position: relative;
  z-index: -5;
  box-shadow: -15px -10px 160px 30px #E6FFBF;
  font-family: "Slabo 27px", serif; }

.desktop-content {
  display: flex;
  flex: 1;
  width: 95%;
  position: relative;
  z-index: -10;
  margin: 1em 0em 0em 2.5vw; }

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2em; }

.flex__contact {
  flex-direction: column; }

.flex__title {
  margin-top: 0em;
  margin: 0em 5vw;
  text-decoration: underline;
  padding-right: 0.75em;
  text-align: center;
  color: black;
  text-shadow: white 0.04em 0.015em 0.015em; }

.flex__text {
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin: auto;
  margin-bottom: 1em;
  color: black;
  text-shadow: white 0.06em 0.02em 0.01em; }

.flex__juice,
.flex__food {
  height: 24em;
  width: 32em;
  margin-right: 2em;
  box-shadow: 2px 8px 15px 2px #323232;
  border-radius: 4px; }

.flex__fields {
  display: flex;
  margin: auto;
  margin-bottom: 3em; }

.flex__form {
  width: 30em;
  display: flex;
  align-content: center; }

#flex__form--text {
  height: 4em; }

#flex__juice--left,
#flex__food--left {
  justify-content: flex-start;
  margin-bottom: 0.5em;
  width: 31em; }

#flex__juice--right,
#flex__food--right {
  justify-content: flex-end;
  margin-bottom: 0.5em;
  width: 31em; }

.flex__cater {
  height: 22em;
  width: 32em;
  margin-right: 2em;
  box-shadow: 2px 8px 15px 2px #323232;
  border-radius: 4px; }

#flex__cater--left {
  justify-content: flex-start;
  margin-bottom: 2em;
  width: 31em; }

#flex__cater--right {
  justify-content: flex-end;
  margin-bottom: 2em;
  width: 31em; }

#welcome {
  margin-bottom: -1em; }

#map-canvas {
  width: 90vw;
  height: 70vh;
  min-height: 25em;
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  z-index: 2;
  border: 30px;
  border-bottom: 0px;
  border-image: url("../../img/textures/wood2.png") 40 repeat;
  box-shadow: 2px 8px 15px 2px #323232; }

#addressForm {
  height: 10%;
  width: 100%;
  margin: auto auto 0em auto;
  border: 30px;
  border-top: 5px;
  border-bottom: 0px;
  border-image: url("../../img/textures/wood2.png") 40 repeat;
  box-shadow: 2px 8px 15px 2px #323232;
  position: relative;
  z-index: 3; }

#addressButton {
  height: 10%;
  width: 100%;
  margin: auto auto 3em auto;
  border: 30px;
  border-top: 5px;
  border-image: url("../../img/textures/wood2.png") 40 repeat;
  box-shadow: 2px 8px 15px 2px #323232;
  position: relative;
  z-index: 4; }

.item {
  height: 10%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  margin-bottom: 2em;
  margin-top: 1em; }

.item__title {
  font-family: "Slabo 27px", serif;
  flex: 1; }

.item__description {
  flex: 1;
  position: relative;
  top: 6em;
  right: 18em; }

.item__price {
  flex: 1;
  margin-top: 1.5em; }

.item__image {
  height: 15em;
  width: 19em;
  display: flex;
  flex: 1; }

.footer {
  background-image: url("../../img/textures/wood2.png");
  box-shadow: -1px -4px 15px #323232;
  border-top: 2px solid #e26b21; }

.social {
  display: flex;
  list-style-type: none;
  justify-content: space-around; }

.social__info {
  margin-top: 1.5em;
  font-size: 1em;
  flex: 0.5;
  font-family: "Slabo", serif;
  font-weight: 500;
  color: white;
  text-shadow: black 0.1em 0em 0.25em; }

.social__logo {
  height: 2em;
  width: 2em;
  margin-top: 1.25em;
  flex: 1;
  text-shadow: black 0.1em 0em 0.25em; }

.social__logo--yelp {
  width: 4em; }

/*# sourceMappingURL=main.css.map */
