.form-group {
	border: 1px solid black;
}

.confirmOrder {
	display: block;
	margin-bottom: 200px;
}

#ajaxContainer {
	border: 1px solid black;
	height: 200px;
	min-width: 300px;
	position: fixed;
	right: 100px;
	top: 200px;
}

.ajaxBuildButton {
	background-color: #E06D31;
}
.orderLis {
	background-color: white;
	list-style-type: none;
}

.menuItemForm {
	width: 100%;
	display: flex;
}

.currentOrder {
	font-size: 1.25em;
	text-align: center;
}

#orders > li {
	text-align: left;
}

.menuItemFont {
	font-weight: 200;
}

.menuItemPrice {
	font-weight: 500;
}