/*
Parent: 										
	orderPageContainer				

Children:
	ajaxContainer
	menuItemsFilter
	itemsContainer
*/

/* Parent Flex Container*/
.orderPageContainer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	/*margin: 0 auto;*/
	border: 1px solid black;
}

.menuName {
	color: black;
	font-size: 1.25em;
	padding-bottom: 5px;
	background-color: orange;
}

/* Flex Children Columns*/
.column {
	margin: 10px;
	flex-shrink: 1;
	flex-grow: 1;
}

/* Side Bar */
.menuItemsSidebar {
	flex-shrink: auto;
	border-top: 30px solid #ebb84d;
	display: flex;
	flex-direction: column;
}

/* Menu Items/Form */
.itemsContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-top: 30px solid #df682b;
}
.menuItemForm {
	font-family: Arial;
	width: 100%;
	font-size: 1.25;
	font-weight: light;
	display: flex;
	flex-direction: column;
}
.addItemButton {
	margin-right: auto;
	color: #e06d31;
  	background: rgba(0,0,0,0);
  	border: solid 5px #e06d31;
}


/* Current Order Display */
#ajaxContainer {
	border-top: 30px solid #ebb84d;
}
