/*
Parent: 										
	orderPageContainer				

Children:
	ajaxContainer
	menuItemsFilter
	itemsContainer
*/

/* Parent Flex Container*/
.orderPageContainer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	/*margin: 0 auto;*/
	border: 1px solid black;
}

/* Flex Children Columns*/
.column {
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 1;
}

/* Side Bar */
.menuItemsSidebar {
	border-top: 30px solid #ebb84d;
}

/* Menu Items/Form */
.itemsContainer {
	display: flex;
	flex-direction: column;
	border-top: 30px solid #df682b;
	flex-basis: 35%;
}
.addItemButton {
	align-self: flex-end;
	background-color: #E06D31;
}


/* Current Order Display */
#ajaxContainer {
	border-top: 30px solid #ebb84d;
}

.orderLis {
	background-color: white;
	list-style-type: none;
}

.menuItemForm {
	width: 100%;
	display: flex;
}

.currentOrder {
	font-size: 1.25em;
	text-align: center;
}

.menuItemFont {
	font-weight: 200;
}

.menuItemPrice {
	font-weight: 500;
}