$backgroundRight: #BEEE9E
$backgroundMid: #E6FFBF
$backgroundLeft: #71D161

.content-container
  display: flex
  flex-direction: column
  border-radius: .25em
  margin: -1.5em 10em
  padding-top: 8em
  min-height: 100vh
  background-image: linear-gradient(260deg, $backgroundRight 0%, $backgroundMid 100%)
  position: relative
  z-index: -5
  box-shadow: -15px -10px 160px 30px #E6FFBF
  font-family: 'Slabo 27px', serif

.Site-content
  position: relative
  z-index: -10

//////////////////// JUICE SUBSCRIPTIONS /////////////////
.flex
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin-bottom: 2em

.flex__contact
  flex-direction: column

.flex__title
  margin: 0em auto
  text-decoration: underline
  padding-right: .75em
  text-align: center

.flex__text
  font-size: 1.25em
  letter-spacing: .05em
  margin: auto
  margin-bottom: 1em

.flex__juice,
.flex__food
  height: 24em
  width: 32em
  margin-right: 2em
  box-shadow: 2px 8px 15px 2px #323232
  border-radius: 4px

.flex__fields
  display: flex
  margin: auto
  margin-bottom: 3em

.flex__form
  width: 30em
  display: flex
  align-content: center

#flex__form--text
  height: 4em

#flex__juice--left,
#flex__food--left
  justify-content: flex-start
  margin-bottom: .5em

#flex__juice--right,
#flex__food--right
  justify-content: flex-end
  margin-bottom: .5em

///////////////////////// CATERING //////////////////////
.flex__cater
  height: 22em
  width: 32em
  margin-right: 2em
  box-shadow: 2px 8px 15px 2px #323232
  border-radius: 4px

#flex__cater--left
  justify-content: flex-start
  margin-bottom: 2em

#flex__cater--right
  justify-content: flex-end
  margin-bottom: 2em

////////////////////////// ABOUT //////////////////////


//////////////////////////// MAP //////////////////////
#map-canvas
  width: 80%
  height: 70%
  min-height: 25em
  position: relative
  margin: 0em auto 0em auto
  display: flex
  flex: 1
  justify-content: space-between
  z-index: 2
  border: 30px
  border-bottom: 0px
  border-image: url('../../img/textures/wood2.png') 40 repeat

#addressForm
  height: 10%
  width: 80%
  margin: auto auto 0em auto
  border: 30px
  border-top: 5px
  border-bottom: 0px
  border-image: url('../../img/textures/wood2.png') 40 repeat

#addressButton
  height: 10%
  width: 80%
  margin: auto auto 3em auto
  border: 30px
  border-top: 5px
  border-image: url('../../img/textures/wood2.png') 40 repeat

////////////////////////// MENU ///////////////////
.item
  height: 10%
  width: 100%
  border: 1px solid black
  display: flex
  margin-bottom: 2em
  margin-top: 1em

.item__title
  font-family: 'Slabo 27px', serif
  flex: 1

.item__description
  flex: 1
  position: relative
  top: 6em
  right: 18em

.item__price
  flex: 1
  margin-top: 1.5em

.item__image
  height: 15em
  width: 19em
  display: flex
  flex: 1
