.navbar
  background-image: url("../../img/textures/wood2.png")
  min-height: 3em
  width: 100%

  .navbar__list
    list-style-type: none
    font-size: 2em
    display: flex
    justify-content: space-around
