@media only screen and (min-device-width: 1024px)
  .nav-container
    position: relative
    z-index: 5


  .flex-nav
    min-height: 3em
    position: relative
    z-index: 1

  .flex-ul__item--hover
    color: white
    font-size: 2.5em
    font-family: 'Slabo 27px', serif
    letter-spacing: 4px
    padding: 20px 5px 5px 5px
    text-shadow: black 0.1em 0.1em 0.3em
    display: inline-block
    transition: all .25s


  a:active,
  a:link,
  a:visited
    color: white
    text-decoration: none

  .flex-ul__item--hover:hover
    color: white
    font-size: 3em
    text-decoration: none
    text-shadow: black 0.1em 0.1em .2em

  // Flex Container

  #logo
    height: 12em
    width: 12em
    position: relative
    z-index: 150

  .logo__box

    border-radius: 50%
    height: 11em
    width: 12em
    box-shadow: 0px 32px 20px -10px #323232
    margin-left: -10px
    color: white
    transition: all .75s
    display: flex
    justify-content: center
    align-content: center
    position: relative
    z-index: 0
    // cursor: none

  .flex-ul
    background-image: url('../../img/textures/wood2.png')
    border-bottom: 2px solid #e26b21
    box-shadow: 0px 4px 12px #323232
    list-style: none
    display: flex
    min-height: 5.25em

  .flex-ul__item
    flex: 2
    height: 11vh

    // DROPDOWN

  .dropdown
    margin: -15px 0px 0px -17px
    padding: 0px 0px 0px 0px
    display: none
    position: relative
    z-index: -1
    width: 10.85em
    height: 10em

  .box-shadow
    height: 8em
    width: 10.75em
    margin: -114px 0px 0px 0px
    box-shadow: 0px 12px 20px #323232

  .dropdown-list
    background-image: url('../../img/navicons/sign.png')
    background-repeat: no-repeat
    font-size: 1.25em
    color: white
    text-shadow: black 0.1em 0.1em 0.15em
    list-style-type: none
    width: 8.85em
    height: 8em
    text-align: center
    padding: 30px 0px 0px 0px
    margin: -10px 0px 0px -2px

  #community-dropdown
    margin-left: 30px
    font-size: 1em

  #community-dropdown-list
    padding: 30px 0px 0px 0px

  #community-dropdown-list a:hover
    font-size: 1.15em

  .dropdown-list a:hover
    font-size: 1.05em

  .flex-ul__item--hover:hover + .dropdown,
  .dropdown:hover
    // display: block
    display: block
/* -------------------------------------------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)


/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)


/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)


/* ------------------------------------------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
  .flex-ul
    background-color: green

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait)


/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)


/* -------------------------------------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)


/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)


/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)


/* --------------------------------------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)


/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)


/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)


/* ---------------------------------------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)


/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)


/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)
